* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-left: 3em;
}

h1 {
  margin-top: 2em;
}

h2 {
  margin-top: 2em; margin-bottom: 2em;
}

.type_item {
  padding: 1em;
  border: 10px solid #888;
  margin:1em;
  color: brown;
}

.type_item:hover {
  border: 10px solid #AAA;
  cursor: pointer;
  background-color: #fff;
}

code {
  line-height: 18px;
  color: chocolate;
}

pre {
  background-color: #fff;
}
